<div class="container">

    <div class="text-center">
            <h2>Suggested Products </h2>
            <h4>Find the best products for your needs</h4>
        </div>
<div class="row">
    <div class="col-4 mx-auto" 
    *ngFor="let product of products">
        <div class="card card-body mb-2">
          
      <figure class="itembox text-center">
        <figcaption class="text-wrap">
             
        <h4 class="title">    

            <a routerLink="/product-list/{{product.id}}">
              {{product.title}}
          </a>
        </h4>
        <p> {{product.description}} </p>
        </figcaption>
      </figure> <!-- iconbox // -->
    
        </div>
    </div>
</div>
</div>