<div class="container">
    <nav class="navbar navbar-expand-lg navbar navbar-light fixed-top shadow" style="background-color:#fff;">
        <a routerLink="/" class="navbar-brand">Nalas Glo!</a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse9">
            <span class="navbar-toggler-icon"></span>
        </button>
        
    
        <div class="collapse navbar-collapse" id="navbarCollapse9">
            <div class="navbar-nav">
                <a routerLink="/common-skin-conditions" class="nav-item nav-link">Common Skin Disorders</a>
               
                <a routerLink="/category-list" class="nav-item nav-link">Skin care products</a>
                <a routerLink="/contact-me" class="nav-item nav-link">Contact me</a>
                <a routerLink="/about-me" class="nav-item nav-link">About me</a>
            </div>
        </div>

    </nav>
</div>
