<div class="container">

  <div class="row justify-content-center">
      <div class="row">
          <div class="col-4">
              <div class="mb-2">
        <img src="{{topic.image}}" class="img-fluid my-5" width="500" height="auto">	
              </div>
          </div>
          <div class="col-6">
  
              <div class="mb-2">
                  <div class="row justify-content-center">
                      <h2> {{topic.symptom}} </h2>
                      <p> {{topic.summary}} </p>
                    </div> <!-- row.// -->
                    
              </div>
          </div>
      </div>
  </div>
</div>


